.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.aside h3 {
    margin: 8px 0;
}

.aside-cards {
    width: 150px;
    height: 170px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background-color: #454F58;
}

.aside-cards img {
    width: 100%;
    height: 125px;
    border-radius: 10px 10px 0 0;
}

.aside-cards a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 420px) {
    .aside-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
}