.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #000709;
    font-size: 16px;
    font-weight: 600;
}

.foo-ul {
    list-style: none;
}

.foo-ul li{
    margin-top: 5px;
}

@media screen and (max-width: 420px) {
    .footer {
        display: flex;
        flex-flow: column wrap;
    }
}