.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.brand {
    color: #11161A;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #2015ff;
    background-color: #00000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    border: 2px solid #2015ff;
    padding: 5px 20px;
    border-radius: 7px;

}
.navbar a:hover {
    color: #fff;
    background-color: #2015ff;
}

@media screen and (max-width: 370px) {
    .brand {
        font-size: 22px;
    }
    .navbar a {
        margin-left: 4px;
        padding: 5px 10px;
        font-size: 18px; 
    }
}