header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #4f4ff2;
    color: #fff;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
}
